body {
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: auto;
  height: 100vh;
  width: 100vh;
}

.portrait {
  height: 100px;
  width: 175px;
  /* float: left; */
  /* padding: 5px 5px; */
  /* background-color: green; */
  /* margin: 5px 5px; */
}
.row {
  width: 100%;
}

.box {
  height: 140px;
  width: 215px;
  float: left;
  border: solid 3px green;
  text-align: center;
  background-color: ivory;
}
