body {
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: auto;
  height: 100vh;
  width: 100vh;
}

.portrait {
  height: 100px;
  width: 175px;
  /* float: left; */
  /* padding: 5px 5px; */
  /* background-color: green; */
  /* margin: 5px 5px; */
}
.row {
  width: 100%;
  /* inline block allows all the  divs to stack on top of each other even with the floating hero divs moving around */
  display: inline-block;
}

.box {
  height: 140px;
  width: 215px;
  float: left;
  border: solid 3px green;
  text-align: center;
  background-color: ivory;
}

.enemy {
  height: 140px;
  width: 215px;
  background-color: red;
  border: solid 1px black;
  text-align: center;
  float: left;
}

.defense {
  height: 140px;
  width: 215px;
  background-color: black;
  border: solid 3px green;
  color: white;
  text-align: center;
}

#graveyard {
  float: right;
}

#title {
  float: right;
}

h1 {
  font-size: 1.5em;
}
